/* ♾️ Universal set */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilroy;
  src: url(./Asset/Fonts/Gilroy-font.ttf);
  font-family: Plus Jakarta Sans;
  src: url(./Asset/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);

}

/* 🔝 Header Region 📝*/

header {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #F2F4F7;
  padding-bottom: 50px;
}
header nav {
  background-color: white;
  width: 100vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 10px 100px 10px 100px;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  max-width: 1440px;
  margin-inline: auto;

  div {
    margin-left: auto;
    background-color: #2a2b67;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
  }
}

header nav img {
  margin-right: 80px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

header nav ul li a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  font-family: Plus Jakarta Sans;
}

.parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid black; */
}

.hd-container {
  margin-top: 200px;
  margin-left: 150px;
  /* border: 1px solid black; */
  width: 550px;
  position: relative;
}

#curve-lines {
  position: absolute;
  left: 430px;
  bottom: 240px;
  width: 250px;
}

.hd-container h1 {
  font-family: Gilroy;
  font-size: 60px;
  color: #303073;
  margin-bottom: 20px;
}

.hd-container p {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #475467;
  margin-bottom: 20px;
}

 .parent .home-img {
  position: relative;
  width: 430px;
  top: 20px;
  left: 180px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-one {
  padding: 10px 20px 10px 20px;
  background-color: #2a2b67;
  border-radius: 10px;
  color: white;
}

.btn-two {
  padding: 10px 20px 10px 20px;
  outline: 1px solid #2a2b67;
  border-radius: 10px;
  color: #2a2b67;
}

.section-one {
  width: 100%;
  height: max-content;
  padding: 40px 0px 40px 0px;
}

.first-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.fmc-one {
  margin: 100px 30px 30px 100px;
  display: flex;
  flex-direction: column;
  width: 420px;
}

.fmc-one p {
  font-family: Plus Jakarta Sans;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.fmc-img {
  width: 630px;
  position: absolute;
  right: 0px;
  top: 0px;
}