/* ♾️ Universal set */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Gilroy;
  src: url(./Asset/Fonts/Gilroy-font.ttf);
  font-family: Plus Jakarta Sans;
  src: url(./Asset/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
  font-family: HORIZONTAL;
  src: url(./Asset/Fonts/fonnts.com-315630/fonts/fonnts.com-Horizontale.ttf);
  font-family: Gilroy-Bold;
  src: url(./Asset/Fonts/gilroy-bold-cufonfonts/Gilroy-Bold.ttf);
}
body {
  max-width: 1440px;
  margin-inline: auto;
}

/* 🔝 Header Region 📝*/

header {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #f2f4f7;
  padding-bottom: 50px;
}
header nav {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 10px 100px 10px 100px;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  max-width: 1440px;
  margin-inline: auto;

  div {
    margin-left: auto;
    background-color: #2a2b67;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
  }
  
}

header nav img {
  margin-right: 80px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

header nav ul li a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  font-family: Plus Jakarta Sans;
}

.hamburger {
  display: none;
}

.parent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hd-container {
  margin-top: 200px;
  margin-left: 150px;
  width: 550px;
  position: relative;
}

#curve-lines {
  position: absolute;
  left: 420px;
  bottom: 240px;
  width: 250px;
}

.hd-container h1 {
  font-family: Gilroy-Bold;
  font-size: 60px;
  color: #333379;
  margin-bottom: 20px;
}

.mobile-bg-img{ 
  display: none;
}

.hd-container p {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  color: #475467;
  margin-bottom: 20px;
}

.parent .home-img {
  position: relative;
  width: 430px;
  top: 20px;
  left: 180px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-one {
  padding: 10px 20px 10px 20px;
  background-color: #2a2b67;
  border-radius: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-two {
  padding: 10px 20px 10px 20px;
  outline: 1px solid #2a2b67;
  border-radius: 10px;
  color: #2a2b67;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.section-one {
  width: 100%;
  height: max-content;
  padding: 40px 0px 40px 0px;
}

.first-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.fmc-one {
  margin: 100px 30px 30px 100px;
  display: flex;
  flex-direction: column;
  width: 420px;
}

.fmc-one p {
  font-family: Plus Jakarta Sans;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

.fmc-img {
  width: 630px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.section-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0px 100px 0px;
}

.section-two p {
  font-family: Plus Jakarta Sans;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}

.section-two img {
  width: 900px;
  margin: auto;
}

.section-three {
  width: 100%;
  padding: 20px 100px 20px 100px;
}

.sec-three-parent {
  background-color: #303073;
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  padding: 30px 90px 30px 90px;
  align-items: center;
}

.sec-three-cont {
  width: 300px;
  height: 350px;
  padding: 80px 13px 40px 13px;
}

.asull {
  font-family: Plus Jakarta Sans;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-tag {
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  font-family: Plus Jakarta Sans;
}

span {
  font-weight: bold;
}

.sec-three-parent img {
  position: absolute;
  width: 500px;
  right: 90px;
}

.section-four {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0px 0px 0px;
}

.section-four p {
  text-align: center;
  font-family: Plus Jakarta Sans;
}

.sec-four-btext {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.sec-four-rtextc {
  color: #444444;
}

.sec-four-fbox {
  display: flex;
  flex-direction: row;
  padding: 40px 100px 0px 50px;
}

.sec-four-fbox img {
  width: 280px;
}

.form-border {
  padding: 35px 50px 0px 150px;
  width: 100%;
}

.form-border label {
  display: block;
  margin-bottom: 6px;
  margin-top: 20px;
  font-family: Plus Jakarta Sans;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e0e3e7;
}

.form-border button {
  width: 100%;
  margin-top: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #2a2b67;
  color: white;
  padding: 10px 10px;
}

.section-five {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 0px 0px;
}

.sf-text-one {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: bold;
}

.sf-text-two {
  text-align: center;
  margin-bottom: 50px;
  font-family: Plus Jakarta Sans;
  color: #475467;
}

.sec-five-cont {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding-bottom: 40px;
}

.boz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.boz p {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
}

.boz img {
  width: 17px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxes p {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  padding: 10px 0px 30px 0px;
}

.boxes img {
  width: 17px;
}

.boxes-text {
  color: #475467;
  font-size: 13px;
  font-family: Plus Jakarta Sans;
  margin-bottom: 20px;
}

.line {
  border: 0.5px solid rgb(243, 242, 242);
}

.section-six {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #303073;
  padding: 5px 50px 5px 100px;
}

.sec-six-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-right: 50px;
}
.sec-six-cont h2 {
  color: white;
  font-family: Plus Jakarta Sans;
  font-size: 45px;
  margin-bottom: 10px;
}

.sec-six-cont p {
  color: white;
  font-family: Plus Jakarta Sans;
  font-size: 13px;
  margin-bottom: 40px;
}

.sec-six-cont button {
  width: max-content;
  padding: 9px 20px;
  color: #303073;
  width: 500;
}

.section-six img {
  width: 490px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c1c6ce;
}

.footer-container {
  width: 800px;
  display: flex;
  flex-direction: row;
}
.footer-cont-one {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 40px 30px;
  margin-right: 150px;
}

.footer-cont-one img {
  width: 80px;
  margin-bottom: 40px;
}

.footer-cont-one p {
  font-size: 14px;
  color: #444444;
  margin-bottom: 15px;
}

.icon-box img {
  width: 25px;
}

table {
  margin-top: 40px;
}

table,
tr,
td {
  border-collapse: collapse;
  padding: 30px 70px 3px 0px;
  font-family: Plus Jakarta Sans;
  white-space: nowrap;
  font-size: 14px;
}

th {
  text-align: left;
}

.last-footer-box {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

@media (max-width: 480px) {
  header {
    margin-inline: auto;
    width: 100%;
  }

  header nav {
    max-width: 100vw;
    padding-bottom: 0px;
    padding: 5px 5px 5px 5px;

    div {
      display: none;
    }
  }

  header nav img {
    margin-right: 0px;
    width: 70px;
  }

  header nav ul {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 50px;
    margin-left: auto;
  }

  .parent{
    flex-direction: column;
  }

  .hd-container {
    margin-top: 0px;
    margin-left: 0px;
    padding: 40px 15px 20px 15px;
    width: 100vw;
    position: relative;
    z-index: 1;
  }

  .hd-container h1 {
    font-family: Gilroy-Bold;
    font-size: 34px;
  }

  .hd-container p {
    font-size: 12px;
    font-weight: bold;
  }

  #curve-lines {
    left: 250px;
    top: 8px;
    width: 143px;
  }

  .parent .home-img {
    display: none;
  }

  .mobile-bg-img {
    z-index: -1;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.4;
    height: 319px;
    width: 300px;
    background-image: url(./Asset/images/header-home-img.svg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
  }

  .btn-one {
    font-family: Plus Jakarta Sans;
    font-weight: bold;
    font-size: 15px;
  }

  .btn-two {
    font-family: Plus Jakarta Sans;
    font-weight: bold;
    font-size: 15px;
  }

  .section-one {
    padding: 0px 0px 0px 0px;
  }

  .first-main-container {
    flex-direction: column;
  }

  .fmc-one {
    width: 100%;
    /* border: 1px solid black; */
    margin: 0px 0px 0px 0px;
  }

  .fmc-one p  {
    font-size: 25px;
  }

  .fmc-img {
  display: none;
  }

  .section-two {
    padding: 0px 0px 0px 0px;
  }

  .section-two p {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .section-two img {
    width: 100%;
    /* height: 400px; */
    margin: 0px;
    /* border: 1px solid black; */
  }
  
  .section-three {
    /* border: 1px solid black; */
    padding: 20px 0px 300px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-three-parent {
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0px 0px 0px 0px;
    width: fit-content;
    /* padding: 40px; */
  }
  .sec-three-cont {
    /* border: 1px solid black; */
    width: 330px;
    padding-left: 18px;
  }

  .sec-three-parent img {
    right: 0px;
    left: -8px;
    top: 370px;
    width: 350px;
  }

} 
